$ff: 'Product Sans', sans-serif;
$bl: #231F20;
$wh: #fff;
$blue: #56A5C4;
$dblue: #007EA4;
$red: #F0593E;
$red2: #EE1D23;
$lgray: #F8FAFC;
$gray: #BCBDC0;
$dgray: #57585A;
$green: #84CC16;
$yellow: #FACC15;